################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs/slnx.sqlite
/GRUDDemo/.vs/GRUDDemo/v16/Server/sqlite3/db.lock
/GRUDDemo/YCDemo.mdf
/GRUDDemo/YCDemo_log.ldf
